source https://nuget.org/api/v2

framework: net471

nuget FSharp.Core
nuget FSharp.Formatting
nuget FSharpVSPowerTools.Core
nuget NUnit
nuget NUnit.Runners
nuget FAKE ~> 4
nuget SourceLink.Fake


github fsharp/FAKE modules/Octokit/Octokit.fsx